@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


@import url('welcome_style.css');
@import url('menu_header_style.css');
@import url('portfolio_style.css');






.gif{
	display: none;
	text-align: center;
    padding-top: 1px;
	padding-right: 10px;
    border-right: 1px solid rgb(130,125,125);
	height:435px;
	margin-right: 260px;
	/*para a tag 'border'ficar na borda da imagem tem que criar uma classe dentro da tag da imagem a qual vc quer colocar a borda, e depois deixar os lados que vc quer e pintar os outros de branco com o parametro da propria tag border*/
	

	
	
}






.contato_text_label{
	padding-left: 300px;
	font-family: 'Roboto', sans-serif;
	font-size: 38px;
	color: #ff4041;
	padding-top: 150px;

}




.email_contato_label{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: larger;
	margin-left: 300px;
	margin-top: -20px;


}

.whatsapp_contato_label{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: larger;
	margin-left: 300px;
	margin-top: 30px;


}

.email_contato_text{
	font-family: 'Roboto', sans-serif;
	color: #6b6b6b;
	font-size: large;
	margin-left: 300px;
	margin-top: -10px;


}

.whatsapp_contato_text{
	font-family: 'Roboto', sans-serif;
	color: #6b6b6b;
	font-size: large;
	margin-left: 300px;
	margin-top: -10px;
	padding-bottom: 20px;



}
























body{
	box-sizing: border-box;


}

	
.container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 60%;
	


	



}

#kerning1{
	letter-spacing: 2px;
}


#whatsapp_contato:hover{
	transform: scale(1.1);


}

#whatsapp_contato{
	width: 35px;
	height: 35px;
	transition: transform 0.3s;
	position: absolute;
    top: 1000;
    left: 0;
	margin-left: 480px;
	margin-top: -68px;
	

}
#whatsapp{
	margin-right: 223px;
    width: 35px;
	height: 35px;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 592px;
	transition: transform 0.3s;


}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #23253a;
    padding: 20px;
    border-radius: 5px;
}

#modal-image {
    width: 300px;
    height: 600px;
	margin-right: 600px;
    object-fit: cover;
}

#modal-text {
    font-family: 'Roboto', sans-serif;
    position: absolute;
	top: 0;
	left: 0;
	padding-left: 360px;
	padding-top: 100px;
	font-weight: bold;
	color: white;
}

#modal_text_desc {
    font-family: 'Roboto', sans-serif;
    position: absolute;
	top: 0;
	left: 0;
	padding-left: 360px;
	padding-top: 150px;
	margin-right: 30px;
	color: white;
	line-height: 2; 
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end; /* Align the close button to the end (right) of its container */
    margin-top: -10px; /* Adjust the margin to position it close to the top-right corner */
}






grid-column: span 2; /* Make the close button span both columns */
}
.close:hover,
.close:focus {
    color: black;
}












/*colocar os links nas imagens do whatsapp e do instagram*/



