<!DOCTYPE html>
<html>

<head>
        <script src="uiControllers/controllerTelaPrincipal.js"></script>
        
<header> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./styles.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">




        <title> Home | Portfólio Rubens </title>   
        
      

</header>

</head>




<body>

     
        <div class= "menu">
                <ul>
                        <li><a href="#" onclick="scrollToImageList()">PORTFÓLIO</a>
                        <a href="#" onclick="scrollToContato()">CONTATO</a>
                </ul> 
                <div class="menu-toggle"  id="menuToggle">
                        &#9776;
 
                </div>
                <br/>
                <br/>
                <br/>
                <br/>


        </div>



        <div class="sombra_menu">

                
        </div>

        <p class="welcome_text">Olá, sou<br>desenvolvedor android</p>
        <p class="welcome_text_description">Tenho dois anos de experiência, diversos projetos e app publicado play store!</p>

        <a href="#" class="square-button" onclick="scrollToImageList()">Conheça meu trabalho</a>

        <p class="portfolio_text_label">Portfólio</p>
        <div class="horizontal_line"></div>


        <div class="lista-container">
                <div class="item">
                        <div class="app_image_container">
                                <p class="app_thumbnail_title1">Dose Certa</p>
                                <img src="/foto_dose_certa.png" alt="Image 1">


                        </div>
                        <p class="title_list_item1">App Dose Certa</p>
                        <p class="desc_list_item1">Aplicativo que serve para as pessoas lembrarem dos horários dos medicamentos que elas estão tomando. O aplicativo conta com uma tela de detalhe para cada medicamento onde a pessoa pode ver informações como horários das doses, duração do tratamento, doses já tomadas além de um botão para ativar o alarme de lembrete de medicamentos.</p>

                </div>

                <div class="item">
                        <div class="app_image_container">
                                <p class="app_thumbnail_title1">Dose Certa</p>
                                <img src="/foto_dose_certa.png" alt="Image 1">


                        </div>
                        <p class="title_list_item1">App Dose Certa</p>
                        <p class="desc_list_item1">Aplicativo que serve para as pessoas lembrarem dos horários dos medicamentos que elas estão tomando. O aplicativo conta com uma tela de detalhe para cada medicamento onde a pessoa pode ver informações como horários das doses, duração do tratamento, doses já tomadas além de um botão para ativar o alarme de lembrete de medicamentos.</p>

                </div>

                <div class="item">
                        <div class="app_image_container">
                                <p class="app_thumbnail_title1">Dose Certa</p>
                                <img src="/foto_dose_certa.png" alt="Image 1">


                        </div>
                        <p class="title_list_item1">App Dose Certa</p>
                        <p class="desc_list_item1">Aplicativo que serve para as pessoas lembrarem dos horários dos medicamentos que elas estão tomando. O aplicativo conta com uma tela de detalhe para cada medicamento onde a pessoa pode ver informações como horários das doses, duração do tratamento, doses já tomadas além de um botão para ativar o alarme de lembrete de medicamentos.</p>

                </div>

                <div class="item">
                        <div class="app_image_container">
                                <p class="app_thumbnail_title1">Dose Certa</p>
                                <img src="/foto_dose_certa.png" alt="Image 1">


                        </div>
                        <p class="title_list_item1">App Dose Certa</p>
                        <p class="desc_list_item1">Aplicativo que serve para as pessoas lembrarem dos horários dos medicamentos que elas estão tomando. O aplicativo conta com uma tela de detalhe para cada medicamento onde a pessoa pode ver informações como horários das doses, duração do tratamento, doses já tomadas além de um botão para ativar o alarme de lembrete de medicamentos.</p>

                </div>

                <div class="item">
                        <div class="app_image_container">
                                <p class="app_thumbnail_title1">Dose Certa</p>
                                <img src="/foto_dose_certa.png" alt="Image 1">


                        </div>
                        <p class="title_list_item1">App Dose Certa</p>
                        <p class="desc_list_item1">Aplicativo que serve para as pessoas lembrarem dos horários dos medicamentos que elas estão tomando. O aplicativo conta com uma tela de detalhe para cada medicamento onde a pessoa pode ver informações como horários das doses, duração do tratamento, doses já tomadas além de um botão para ativar o alarme de lembrete de medicamentos.</p>

                </div>
                
        </div>

        <!--
        <ul class="image-list">
                <li class="image-list-item" onclick="openModal('App Dose Certa', 'Aplicativo que serve para as pessoas lembrarem dos horários dos medicamentos que elas estão tomando. O aplicativo conta com uma tela de detalhe para cada medicamento onde a pessoa pode ver informações como horários das doses, duração do tratamento, doses já tomadas além de um botão para ativar o alarme de lembrete de medicamentos.', 'foto_dose_certa.png')">
                       
                        <div class="list_item_desciption_background">
                                <div class="app_image_container">
                                        <p class="app_thumbnail_title1">Dose Certa</p>
                                        <img src="/foto_dose_certa.png" alt="Image 1">


                                </div>
                                <p class="title_list_item1">App Dose Certa</p>
                                <p class="desc_list_item1">Aplicativo que serve para as pessoas lembrarem dos horários dos medicamentos que elas estão tomando. O aplicativo conta com uma tela de detalhe para cada medicamento onde a pessoa pode ver informações como horários das doses, duração do tratamento, doses já tomadas além de um botão para ativar o alarme de lembrete de medicamentos.</p>
        
                        </div>
                       

                </li>
                <li class="image-list-item2" onclick="openModal('App Descomplica Mudança', 'DescomplicaMudança é um app essencial para uma transição suave e organizada para o novo lar dos seus sonhos. Com recursos que permitem controlar despesas e receitas mensais, definir metas específicas para cada custo da mudança, e oferecer dicas especializadas de planejamento, o aplicativo coloca você no comando total do planejamento da sua mudança. Acompanhe o progresso, veja quanto já economizou e transforme a mudança em uma jornada tranquila e memorável.', 'foto_ajuda_mudanca.png')">
                        <div class="list_item_desciption_background2">
                                <div class="app_image_container2">
                                        <p class="app_thumbnail_title2">Salon<br> Premium</p>
                                        <img src="/salaoclient.png" alt="Image 2">


                                </div>
                                <p class="title_list_item2">App Salon Premium</p>
                                <p class="desc_list_item2">Aplicativo que serve para as pessoas lembrarem dos horários dos medicamentos que elas estão tomando. O aplicativo conta com uma tela de detalhe para cada medicamento onde a pessoa pode ver informações como horários das doses, duração do tratamento, doses já tomadas além de um botão para ativar o alarme de lembrete de medicamentos.</p>
        
                        </div>


                </li>
              

        </ul>-->

        <p class="contato_text_label">Contato</p>
        <p class="email_contato_label">E-mail</p>
        <p class="email_contato_text">rubens_assis@outlook.com.br</p>
        <p class="whatsapp_contato_label">Whats App</p>
        <p class="whatsapp_contato_text">+55 (11) 96142-2254</p>
        <a href="https://whatsapp.com"><img id="whatsapp_contato" src="/whatsapplogo.png"/></a>

                <div class="modal" id="modal">
                        <div class="modal-content">
                            <span class="close" onclick="closeModal()">&times;</span>
                            <div class="modal-content-container">
                                <img id="modal-image" src="" alt="Imagem">
                                <p id="modal-text"></p>
                                <p id="modal_text_desc"></p>

                            </div>
                        </div>
                </div>





        


        <div class="vertical_line"></div>
        <a href="https://whatsapp.com"><img id="whatsappWelcome" src="/whatsapplogo.png"/>

                <script>
                        function scrollToImageList() {
                          const imageListPosition = document.querySelector('.image-list').offsetTop;
                    
                          window.scrollTo({
                            top: imageListPosition,
                            behavior: 'smooth' 
                          });
                        }

                        function scrollToContato() {
                          const contatoPosition = document.querySelector('.contato_text_label').offsetTop;
                    
                          window.scrollTo({
                            top: contatoPosition,
                            behavior: 'smooth' 
                          });
                        }

                        function openModal(text, desc, imageUrl) {
                                document.getElementById('modal-text').innerText = text;
                                document.getElementById('modal_text_desc').innerText = desc;
                                document.getElementById('modal-image').src = imageUrl;
                                document.getElementById('modal').style.display = 'block';
                                document.body.style.overflow = 'hidden';
}

                        function closeModal() {
                                document.getElementById('modal').style.display = 'none';
                                document.body.style.overflow = 'auto'; 
                        }
                      </script>
               
</body>



</html>

https://www.yazantarifi.com/#/projects
        